.social {
	text-align: center;
	background: #272727ff;
	padding: 10rem 0;

	&__topic {
		font-family: "Oswald";
		font-weight: 400;
		font-size: 38px;
		line-height: 5.6rem;
		letter-spacing: 0.114em;
		text-transform: uppercase;

		color: #c7a680;

		margin-bottom: 10rem;
	}

	&__items {
		display: flex;
		justify-content: space-between;
		padding: 0 68rem;
	}
}
