<footer class="footer">
	<div class="container footer">
		<div class="links footer__item">
			<a href="" class="links__item">Залы</a>
			<a href="" class="links__item">Вопросы</a>
			<a href="" class="links__item">Расписание</a>
			<a href="" class="links__item">Контакты</a>
			<a href="" class="links__item">Правила</a>

		</div>
		<div class="info footer__item">
			<p class="info__item">© OOO “PHOTOPIX”, март 2022</p>
			<a href="#" class="info__icon"><img src="../assets/images/header/viber.svg" alt="viber"></a>

			<p class="info__item">ул. Докукина 10/41 <br>
				ул. Малая Семеновская 5/1</p>
			<a href="#" class="info__icon"><img src="../assets/images/header/vk.svg" alt="vk"></a>

			<p class="info__item">+7 (966) 127-71-15 <br>
				+7 (915) 460-88-55
			</p>
			<a href="#" class="info__icon"><img src="../assets/images/header/inst.svg" alt="inst"></a>
			<p class="info__bottom">© 2014—2022</p>

		</div>

	</div>
</footer>