<header class="header">
	<nav class="nav">
		<aside class="sidebar">
			<a href="#" class="sidebar__logo"><img src="../assets/images//header/logo.svg" alt="logo"></a>
			<a href="#" class="sidebar__item"><img src="../assets/images/header/viber.svg" alt="viber"></a>
			<a href="#" class="sidebar__item"><img src="../assets/images/header/vk.svg" alt="vk"></a>
			<a href="#" class="sidebar__item"><img src="../assets/images/header/inst.svg" alt="inst"></a>
		</aside>

		<ul class="menu">
			<li class="menu__item"><a href="#" class="menu__link">залы</a></li>
			<li class="menu__item"><a href="#" class="menu__link">расписание</a></li>
			<li class="menu__item"><a href="#" class="menu__link">правила</a></li>
			<li class="menu__item"><a href="#" class="menu__link">вопросы</a></li>
			<li class="menu__item"><a href="#" class="menu__link">контакты</a></li>
		</ul>
	</nav>
	<p class="header__banner">
		контакты
	</p>
</header>